{"interval": 1.0, "seed": 0, "laneChange": false, "dir": "records/commu/Manhattan_16_3_real_10_09_13_52_25/", "roadnetFile": "roadnet_16_3.json", "flowFile": "Manhattan_16_3_real.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "roundlog/1675/roadnetLogFile.json", "replayLogFile": "roundlog/1675/replayLogFile.txt"}